.body-margin {
  margin: 20px;
}

/*
  30% Width will then shrink with the screen. Why not use a fixed width for desktop
  and 100% width for mobile?

  Use this to center elements which have a width specified
  margin: 0 auto;

  Remove text-align: center from the parents and use it only in the child
*/

.body-center {
  width: 30%;
  text-align: center;
  padding-left: 35%;
  padding-top: 8%;
}

/* Use borders here and not outlines */
.body-outline {
  outline: #ad47ee;
  outline-style: solid;
  outline-width: 20px;
  height: 450px;
  border-radius: 3px;
}

/* Keep padding and margin declaration to a single line clockwise 0 0 0 0 */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  font-family: sans-serif;
}

/* Consolidate border declaration to a single line border-bottom: 1px solid rgb(58, 58, 58); */
.input {
  border: none;
  border-bottom: 1px solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(58, 58, 58);
  margin-top: 10px;
  outline: none;
  padding: 0px 0px 10px 5px;
  width: 70%;
  font-size: 15px;
  color: gray;
}

.username-and-password {
  margin-top: 10px;
  padding-right: 54%;
  font-size: 14px;
}

.forgot-password {
  margin-top: 6px;
  font-size: 14px;
  padding-left: 48%;
}

.button {
  background-color: #ad47ee;
  color: white;
  border: 0;
  width: 70%;
  height: 40px;
  font-weight: bolder;
  border-radius: 20px;
  margin-top: 30px;
}
