.body-margin {
  margin: 20px;
}

.body-center {
  width: 30%;
  text-align: center;
  padding-left: 35%;
  padding-top: 8%;
}

.body-outline {
  outline: #ad47ee;
  outline-style: solid;
  outline-width: 20px;
  height: 450px;
  border-radius: 3px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  font-family: sans-serif;
}

.input {
  border: none;
  border-bottom: 1px solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(58, 58, 58);
  margin-top: 10px;
  outline: none;
  padding: 0px 0px 10px 5px;
  width: 70%;
  font-size: 15px;
  color: gray;
}

.username-and-password {
  margin-top: 10px;
  padding-right: 54%;
  font-size: 14px;
}

.forgot-password {
  margin-top: 6px;
  font-size: 14px;
  padding-left: 48%;
}

.button {
  background-color: #ad47ee;
  color: white;
  border: 0;
  width: 70%;
  height: 40px;
  font-weight: bolder;
  border-radius: 20px;
  margin-top: 30px;
}
