.body-margin {
  margin: 20px;
}

/*
  done 30% Width will then shrink with the screen. Why not use a fixed width for desktop
  and 100% width for mobile?

  done Use this to center elements which have a width specified
  margin: 0 auto;

  done Remove text-align: center from the parents and use it only in the child
*/

.form-center {
  text-align: center;
}

/* done Use borders here and not outlines */

.body-border {
  border: solid;
  height: 450px;
  border-radius: 10px;
  border-image-slice: 1;
  border-width: 20px;
  border-image-source: linear-gradient(to right, #5aebf5 0%, #e44ff7 51%, #ad47ee 100%);
}

/* done Keep padding and margin declaration to a single line clockwise 0 0 0 0 */
.header {
  padding: 25px 0px 25px 0px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

/* done Consolidate border declaration to a single line border-bottom: 1px solid rgb(58, 58, 58); */
.input {
  border: none;
  border-bottom: 1px solid rgb(58, 58, 58);
  margin: 10px 0px 10px 0px;
  outline: none;
  padding: 0px 0px 10px 5px;
  width: 70%;
  font-size: 15px;
  color: gray;
}

.username-and-password {
  margin-top: 10px;
  padding-right: 60%;
  font-size: 14px;
}

.forgot-password {
  margin-top: 6px;
  font-size: 14px;
  padding-left: 48%;
}

.button {
  border: 0;
  width: 70%;
  height: 40px;
  font-weight: bolder;
  border-radius: 20px;
  margin-top: 30px;
  background-image: linear-gradient(to right, #5aebf5 0%, #e44ff7 51%, #ad47ee 100%);
}

.button-color {
  color: white;
}

@media (min-width: 800px) {
  .body-center {
    width: 500px;
    margin: 0 auto;
  }
}
